In [21]:
import geopandas as gpd
import pandas as pd
import numpy as np

### class creation

In [77]:
random_points = gpd.read_file("./images/145044_20100428_random_points.shp")

In [83]:
random_points['class'] = random_points['class'].astype('int')

In [84]:
 random_points['class'].value_counts()

11    250
10    214
5      97
1      48
13     33
4      25
2      22
8       9
12      2
Name: class, dtype: int64

In [85]:
points500['ag_fire'].value_counts()

0    424
1     76
Name: ag_fire, dtype: int64

ag_fire class

In [86]:
random_points['ag_fire'] = np.where(random_points['class']==5,1,0)

### splitting the dataset

In [87]:
points500 = random_points.sample(n = 500, random_state= 123)

In [88]:
points500['class'].value_counts()

11    179
10    146
5      76
1      33
13     23
2      19
4      16
8       7
12      1
Name: class, dtype: int64

creating another class with 12 on others.
what about 13?

In [91]:
points500['class1'] = points500['class']
points500.class1.head()

57     11
478    10
597     4
689    10
647     5
Name: class1, dtype: int64

In [95]:
## reclassfiying 12 as others
points500['class1'] = np.where(points500['class1']==12,11,points500['class1'])
points500.class1.value_counts()

11    180
10    146
5      76
1      33
13     23
2      19
4      16
8       7
Name: class1, dtype: int64

In [59]:
points200 =random_points.drop(points500.index)

In [60]:
points200['class'].value_counts()

11    71
10    68
5     21
1     15
13    10
4      9
2      3
8      2
12     1
Name: class, dtype: int64

In [61]:
type(points200)

geopandas.geodataframe.GeoDataFrame

In [62]:
##points500[['ag_fire', 'class']]= points500[['ag_fire', 'class']].astype(float)

In [65]:
##points200[['ag_fire', 'class']]= points200[['ag_fire', 'class']].astype(float)

In [66]:
points200['class'].dtype

dtype('float64')

In [96]:
points500

        id    long     lat  class                   geometry  ag_fire  class1
57    57.0  77.405  23.867     11  POINT (77.40547 23.86674)        0      11
478  478.0  77.187  22.280     10  POINT (77.18706 22.27971)        0      10
597  597.0  78.556  23.502      4  POINT (78.55554 23.50168)        0       4
689  689.0  79.102  23.141     10  POINT (79.10219 23.14083)        0      10
647  647.0  77.655  22.557      5  POINT (77.65463 22.55665)        1       5
..     ...     ...     ...    ...                        ...      ...     ...
167  167.0  78.200  22.587      1  POINT (78.20018 22.58742)        0       1
225  225.0  77.815  23.506      4  POINT (77.81519 23.50613)        0       4
541  541.0  78.071  22.397      1  POINT (78.07059 22.39747)        0       1
454  454.0  78.597  22.768      4  POINT (78.59674 22.76824)        0       4
7      7.0  78.240  22.851      5  POINT (78.23990 22.85146)        1       5

[500 rows x 7 columns]

In [67]:
points200.to_file("./images/145044_20100428_200points.random_points")

In [97]:
points500.to_file("./images/145044_20100428_500points.random_points")